.testimonials {
  padding: 80px 0;
  text-align: center;
}

h2 {
  font-size: 32px;
  color: #001f3f;
  margin-bottom: 50px;
}

.testmonials-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.testimonial-card {
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.student-image img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.message {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
}

.info {
  text-align: center;
}

.name {
  font-size: 18px;
  font-weight: bold;
  color: #001f3f;
  margin-bottom: 5px;
}

.position {
  font-size: 14px;
  color: #666;
}

/* Add extra space between students' and mentors' testimonials */
.mentor-section {
  margin-top: 100px; /* Adjust the space as needed */
}

.testmonials-cards.students {
  margin-bottom: 60px; /* Adds space below student testimonials */
}

.testimonials h2 {
  font-size: 32px;
  color: #001f3f;
  margin-bottom: 30px;
}


@media (max-width: 768px) {
  .testimonial-card {
    width: 80%;
    text-align: center;
  }
}
